$fadeDuration : 0.3;

.slideLeft-enter {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(100%,0,0);
  z-index: 10000;
  &.slideLeft-enter-active {
    transform: translate3d(0,0,0);
  }
}

.slideLeft-leave {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  opacity: 1;
  &.slideLeft-leave-active {
    transform: translate3d(100%,0,0);
    opacity: 0.3;
  }
}


.moveUp-enter {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,100%,0);
  z-index: 10000;
  &.moveUp-enter-active {
    transform: translate3d(0,0,0);
  }
}

.moveUp-leave {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  opacity: 1;
  &.moveUp-leave-active {
    transform: translate3d(0,-15%,0);
    opacity: 0.3;
  }
}

.moveDown-enter {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,-100%,0);
  z-index: 10000;
  &.moveDown-enter-active {
    transform: translate3d(0,0,0);
  }
}


.moveDown-leave {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  opacity: 1;
  &.moveDown-leave-active {
    transform: translate3d(0,15%,0);
    opacity: 0.3;
  }
}

.fade-appear {
  opacity: 0.01;
  &.fade-appear-active {
    opacity: 1;
    transition: opacity $fadeDuration ease-in;
  }
}


.fade-enter {
  opacity: 0.01;
  &.fade-enter-active {
    opacity: 1;
    transition: opacity $fadeDuration ease-in;
  }
}

.fade-leave {
  opacity: 1;
  &.fade-leave-active {
    opacity: 0.01;
    transition: opacity $fadeDuration ease-in;
  }
}

.fadeIn {
  opacity: 0.01;
  transition: opacity 500ms
}
.fadeIn-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fadeOut {
  opacity: 1;
  transition: opacity 500ms;
}

.fadeOut.fadeOut-active {
  opacity: 0.01;
  transition: opacity 500ms
}

.appear {
  opacity: 0.01;
  transition: opacity 500ms
}

.appear.appear-active {
  opacity: 1;
  transition: opacity 500ms
}